* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF";
    min-height: 18px;
}

window#waybar {
    background: transparent;
    margin: 5px;
}

#custom-logo {
    padding: 0 10px;
    color: #ffffff;
}

/* Seções esquerda, central e direita com fundo preto mais escuro translúcido */
.modules-left,
.modules-center,
.modules-right {
    margin-top: 2px;
    background: rgba(0, 0, 0, 0.8); /* preto com 80% de opacidade */
}

.modules-left {
    border-radius: 0 15px 15px 0;
}

.modules-center {
    border-radius: 15px;
    padding: 0 15px;
}

.modules-right {
    border-radius: 15px 0 0 15px;
    padding-left: 5px;
}

/* Elementos individuais com padding */
#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
    padding: 0 5px;
}

#custom-power {
    padding: 0 5px;
    color: white;
}

#custom-power:hover{
    color: #2A3031;
    transition: 0.5s;
}

#pulseaudio {
    padding-top: 3px;
}

/* Cores específicas de estado */
#temperature.critical,
#pulseaudio.muted {
    color: #FF0000;
    padding-top: 0;
}

#clock {
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
